table.FabricDataGridTable {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 5px 5px 5px 0px;
}

table.FabricDataGridTable table.Inner {
	margin: 3px;
}

table.FabricDataGridTable td.Header {
	font-weight: bold;
	background-color: #cccccc;
	border: 1px solid #aaaaaa;
	padding: 3px;
	font-size: 9px;
}

table.FabricDataGridTable .HeaderType {
	font-weight: normal;
	font-style: italic;
	font-size: 9px;
	color: #666666;
}

table.FabricDataGridTable td.Cell {
	padding: 3px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}

table.FabricDataGridTable td.CellAlt {
	background-color: #f6f6f6;
}

table.FabricDataGridTable td.CellType {
	color: #777777;
	font-size: 9px;
}