<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
		<meta name="viewport" content="width=device-width" />
		@Styles.Render("~/Content/css")
	</head>
	<body>
		<section>
			@RenderBody()
		</section>

        @Scripts.Render("~/bundles/jquery")
	</body>
</html>
