<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ assembly name="/Users/zachkinstner/Documents/FabricProject/FabricSharpClient/Solution/Fabric.Clients.Cs.Infrastructure/bin/Debug/Fabric.Clients.Cs.Infrastructure.dll" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="Fabric.Clients.Cs.Infrastructure" #>
<#@ import namespace="Fabric.Clients.Cs.Infrastructure.SpecDto" #>
<#@ output extension=".cs" #>
using System.Collections.Generic;

namespace Fabric.Clients.Cs.Gen {

<#
FabSpec spec = SpecBuilder.Spec;

foreach ( FabSpecObject o in spec.Objects ) {
	if ( o.Name.IndexOf("FabSpec") == 0 ) { continue; }
	if ( o.TraversalLinks == null ) { continue; }
#>
	/*================================================================================================*/
	public interface I<#= o.Name #>Step : ITraversalStep<<#= o.Name #>> {
	
		
		////////////////////////////////////////////////////////////////////////////////////////////////
<#
	foreach ( FabSpecTravLink link in o.TraversalLinks ) {
		string summ = SpecBuilder.RemoveMarkup(link.Description).Replace("\r\n", " ");
		string step = GetStep(link);
		string conn = GetConn(link);
#>
		/*--------------------------------------------------------------------------------------------*/
		///<summary>
		///    <#= summ #> (<#= conn #> <#= step #>)
		///</summary>
		///<remarks>
		///    Type: <#= link.Type #>
		///    Relation: <#= link.Relation #>
		///    Connection: <#= conn #>
		///</remarks>
		I<#= step #>Step <#= link.Name #> { get; }
		
<#
	}
#>
	}
	
	
<#
}

foreach ( FabSpecObject o in spec.Objects ) {
	if ( o.Name.IndexOf("FabSpec") == 0 ) { continue; }
	if ( o.TraversalLinks == null ) { continue; }
#>
	/*================================================================================================*/
	public class <#= o.Name #>Step : TraversalStep<<#= o.Name #>>, I<#= o.Name #>Step {
		
		
		////////////////////////////////////////////////////////////////////////////////////////////////
		/*--------------------------------------------------------------------------------------------*/
		public <#= o.Name #>Step(Traversal pTrav) : base(pTrav) {}
		
		
		////////////////////////////////////////////////////////////////////////////////////////////////
<#
	foreach ( FabSpecTravLink link in o.TraversalLinks ) {
		string summ = SpecBuilder.RemoveMarkup(link.Description).Replace("\r\n", " ");
		string step = GetStep(link);
		string conn = GetConn(link);
#>
		/*--------------------------------------------------------------------------------------------*/
		public I<#= step #>Step <#= link.Name #> {
			get {
				var s = new <#= step #>Step(Trav);
				Trav.AddStep(s);
				Trav.AppendToUri("/<#= link.Name #>");
				return s;
			}
		}
		
<#
	}
#>
	}
	
	
<#
}
#>
}
<#+
private string GetStep(FabSpecTravLink pLink) {
	return (pLink.IsOutgoing ? pLink.To : pLink.From);
}

private string GetConn(FabSpecTravLink pLink) {
	return (pLink.IsOutgoing ? pLink.FromConn : pLink.ToConn);
}
#>